.container-fluid
  .row
    .col-md-offset-2.col-md-8
      h2 Resend confirmation instructions

      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!

        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control",
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

        .form-group
          = f.submit "Resend confirmation instructions", class: "btn btn-primary"

      = render "users/shared/links"
