= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation.errors
      h2 = "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:"
      ul
        - @message.errors.full_messages.each do |message|
          li = message

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: true
  .form-group
    = f.label :email
    = f.text_field :email,class: "form-control", required: true
  .form-group
    = f.label :body
    = f.bootsy_area :body, class: "form-control", required: true, rows: "10", editor_options: { image: false }
  - if Rails.env.eql?("production")
    .form-group
      = recaptcha_tags
  .actions = f.submit "Send", class: 'btn btn-success btn-lg'
