h1 Listing messages

table
  thead
    tr
      th Name
      th Email
      th Body
      th
      th
      th

  tbody
    - @messages.each do |message|
      tr
        td = message.name
        td = message.email
        td = message.body
        td = link_to 'Show', message
        td = link_to 'Edit', edit_message_path(message)
        td = link_to 'Destroy', message, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Message', new_message_path
