.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li role="presentation" 
          = link_to "Cusines", admin_cuisine_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "View all Cuisines"
        li role="presentation" 
          = link_to "Add Cusine", new_admin_cuisine_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new Cuisines"
        li.active role="presentation" 
          = link_to "Edit Cusine", edit_admin_cuisine_dashboard_path(@cuisine)
      /! Tab panes
      .tab-content
        h2 Edit Cuisine/Item
        = form_for @cuisine, url: admin_cuisine_dashboard_path(@cuisine), method: :patch do |f|
          .form-group
            = f.label :category
            = f.select :category_id, @categories.collect { |cat| [cat.name, cat.id]}, {}, { class: "form-control" }
          .form-group
            = f.label :name
            = f.text_field :name, class: "form-control", required: true
          .checkbox
            label
              = f.check_box :vegetarian
              | Vegetarain
          .form-group
            = f.label :description
            = f.bootsy_area :description, editor_options: { image: false },
              class: "form-control", required: true, rows: "20"
          .form-group
            = f.label :ingredient, "Ingredients"
            = f.bootsy_area :ingredient, editor_options: { image: false },
              class: "form-control", required: true, rows: "5"
            i.text-muted Pleases use comma to separate each ingredient
          .form-group
            = f.label :price
            = f.text_field :price, class: "form-control", required: true
          - if @cuisine.photos.count > 0
            = f.fields_for :photos do |photo_form|
              .row
                .form-group.col-md-4.text-center
                  = image_tag photo_form.object.image_url(:thumb)
                  br
                  .check_box
                    label
                      => photo_form.check_box :_destroy
                      | Destroy
          - else
            = f.fields_for :photos do |photo|
              .form-group
                = photo.label :image
                = photo.file_field :image, class: "form-control"
          .form-group
            = f.submit "Save", class: "btn btn-primary"
