.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li.active role="presentation" 
          = link_to "Cuisine", admin_cuisine_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "View all Cuisines"
        li role="presentation" 
          = link_to "Add Cusine", new_admin_cuisine_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new Cuisine"
      /! Tab panes
      .tab-content
        h2 Cuisines/Items
        table.table
          tr
            th Name
            th Price
            th Category
            th Menu
            th Actions
          - @cuisines.each do |cuisine|
            tr
              td = cuisine.name
              td = cuisine.price 
              td = cuisine.category_name
              td = cuisine.menu_name
              td 
                => link_to "Delete", admin_cuisine_dashboard_path(cuisine.id),
                method: :delete, class: 'btn btn-danger btn-xs',
                data: { confirm: "Are you sure ?" }
                
                => link_to "Edit", edit_admin_cuisine_dashboard_path(cuisine),
                class: 'btn btn-primary btn-xs'
