.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li role="presentation" 
          = link_to "Cusines", admin_cuisine_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "View all Cuisines"
        li.active role="presentation" 
          = link_to "Add Cusine", new_admin_cuisine_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new Cuisines"
      /! Tab panes
      .tab-content
        h2 New Cuisine/Item
        = form_for @cuisine, url: admin_cuisine_dashboard_index_path, method: :post do |f|
          .form-group
            = f.label :menu
            = select_tag "menu", options_from_collection_for_select(@menus, "menu_id", "menu_name"),
            include_blank: true, class: "form-control", id: "menu"
          .form-group
            = f.label :category
            = f.select :category_id, [], {}, {class: "form-control"}
          .form-group
            = f.label :name
            = f.text_field :name, class: "form-control", required: true
          .checkbox
            label
              = f.check_box :vegetarian
              | Vegetarain
          .form-group
            = f.label :description
            = f.bootsy_area :description, editor_options: { image: false },
              class: "form-control", required: true, rows: "20"
          .form-group
            = f.label :ingredient, "Ingredients"
            = f.bootsy_area :ingredient, editor_options: { image: false },
              class: "form-control", required: true, rows: "5"
            i.text-muted "Pleases use comma to separate each ingredient"
          .form-group
            = f.label :price
            = f.text_field :price, class: "form-control", required: true
          = f.fields_for :photos do |photo_form|
            .form-group
              = photo_form.label :image
              = photo_form.file_field :image, class: "form-control", required: true
          .form-group
            = f.submit "Save", class: "btn btn-primary"

coffee:
  $("#menu").on 'change', () ->
    $.ajax {
      url: '/admin/categories',
      method: 'post',
      data: { menu_id: $("#menu").val() }
    }
    .done (data) ->
      $("#cuisine_category_id").html("")
      jQuery.each data, (key, val) ->
        $("#cuisine_category_id").append("<option value='" + val.id + "'>" + val.name + "</option>")
