.container-fluid
  .col-md-offset-1.col-md-10
    == render "super_admin/menu"
    h2 Messages
  .col-md-offset-1.col-md-10.text-center
    = will_paginate @messages
  .col-md-offset-1.col-md-10
    .container
      - @messages.each do |message|
        .row
          .col-md-4
            p
              b Name
            = message.name
          .col-md-4
            p
              b Email
            = message.email
          .col-md-4
            p
              b Date
            = message.updated_at.getlocal("+05:30")
        .row
          .col-md-12
            p
              b Message
            = raw(message.body)
