.header
  h1 Dashboard
  = link_to "Sign out", destroy_super_admin_session_path, method: :delete, class: "pull-right"
ul.nav.nav-tabs role="tablist" 
  li role="presentation" class="#{'active' if params[:controller] == 'super_admin/shop_dashboard'}"
    = link_to "Shops", super_admin_shop_dashboard_index_path,
    data: { toggle: "tooltip", placement: "top"}, title: "View and approve shops"
  li role="presentation" class="#{'active' if params[:controller] == 'super_admin/city_dashboard'}"
    = link_to "Cities", super_admin_city_dashboard_index_path,
    data: { toggle: "tooltip", placement: "top"}, title: "Manage Cities"
  li role="presentation" class="#{'active' if params[:controller] == 'super_admin/messages_dashboard'}"
    = link_to "Messages", super_admin_messages_dashboard_index_path,
    data: { toggle: "tooltip", placement: "top"}, title: "Messages"
/! Tab panes
.tab-content
