.container
  .row
    .col-md-offset-3.col-md-6.text-center
      h1 = @shop.name
      p = @shop.subtitle
  .row
    .col-md-12
      p.description
        - unless @shop.description.strip.blank?
          = @shop.description.html_safe
      
  .row
    .col-md-offset-3.col-md-6
      - if @shop.photos.any?
        == render "carousel"
  .row
    .col-md-6.text-center
      .working-hours
        h2 Working hours
        p.text-17
          => @shop.start_time
          ' --
          => @shop.close_time
      .mobile-info
        h2 Contact
        p.text-17
          => icon("mobile")
          = @shop.contact_info.mobile
    .col-md-6.text-center
      h2 Address
      .address.text-17
        = @shop.contact_info.address_line1
        br
        = @shop.contact_info.address_line2
        br
        = @shop.contact_info.landmark
        br
        = @shop.contact_info.state
        br
        = @shop.contact_info.country
        br
        = @shop.contact_info.pin
    .row
      .col-md-12
        h2.text-center Menu
        .container-fluid
          .row
            .col-md-offset-2.col-md-8
              table.table
                - @shop.menus.each do |menu|
                  - menu.categories.each do |cat|
                    tr
                      th.text-center colspan="2" = cat.name
                    - cat.cuisines.each do |cuisine|
                      tr
                        td.text-right style="width: 50%;" 
                          = link_to cuisine.name, shop_cuisine_path(@shop, cuisine)
                        td.text-left style="width: 50%;" 
                          => icon("inr")
                          = cuisine.price 
              
