.cities-container {
  padding: 5px 0;
  .long-tiles {
    border: 1px solid #CC0000;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px #CCCCCC;
    &:hover {
        box-shadow: 2px #CC0000;
    }
    .city-name {
      font-size: 2em;
    }
    .city-subtitle {
      font-size: 1.5em;
    }
    .description {
      text-align: left;
      color: #000000;
      border-top: 1px solid #CCC;
      line-height: 25px;
      font-size: 22px;
      padding: 10px;
      text-align: justify;
      font-family: 'Droid Serif', serif;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #CC0000;
      line-height: 600%;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
