$maroon : #4d0000;
.long-tile {
  text-align: center;
  color: #FF0000;
  border: 1px solid #CCC;
  margin-bottom: 10px;
  h2 {
    color: $maroon;
  }
  .subtitle {
    padding: 20px;
    font-size: 20px;
  }
  .description {
    border-top: 1px solid #CCC;
  }
  &:hover {
    border: 1px solid #CC0000;
    box-shadow: 3px 3px 3px 1px #888888;
  }
}
.resturant {
  h1.name {
    color: $maroon;
    font-size: 50px;
    text-align: right;
  }
  p.subtitle {
    padding-top: 30px;
    font-size: 35px;
    text-align: left;
  }
  .description {
    font-size: 20px;
    text-align: justify;
    padding: 5px 10px;
  }
}

.text-17 {
  font-size: 17px;
}
