.search-result {
  border: 1px solid #FFF;
  margin-top: 10px;
  padding-bottom: 5px;
  a{
    h2 {
      color: #000;
    }
  }
  &:hover {
    border: 1px solid #CC0000;
    box-shadow: 2px 2px 2px #CCCCCC;
  }
}
