$pink: #ff0066;
$brown: #FF9933;

.carousel-container {
  width: 100%;
  height: 700px;
  position: relative;
}
.carousel-cover, #bhukaadCarousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#bhukaadCarousel {
  z-index: -10;
  img {
    width: 100%;
    height: 700px;
  }
  min-height: 600px;
}
.carousel-cover {
  @extend .text-center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
  h1 {
    padding-top: 200px;
    font-size: 80px;
    font-weight: 800;
    text-shadow: 2px 2px 16px #8C8C8C;
  }
  .line {
    width: 25%;
    margin: 0 auto;
    border-top: 2px solid #FFF;
  }
  .subtitle {
    @extend .text-center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 16px #8C8C8C;
  }
}

.category-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  h2 {
    font-size: 35px;
    color: #FF9000;
  }
}
.category-description {
  padding: 10px 0;
  font-size: 15px;
  width: 300px;
  margin: 0 auto;
}
.category-name {
  h3 {
    color: #00802b;
    font-size: 22px;
  }
}
.shop-mobile {
  font-size: 25px;
  border: 1px solid #FFF;
  width: 170px;
  padding: 5px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.shop-status {
  width: 170px !important;
  margin: 5px auto;
  padding: 10px;
  font-size: 20px;
}
img.bordered-image {
  border: 1px solid #CCC;
  padding: 5px;
  height: 150px;
  width: 150px;
}

img.bordered-image-medium {
  border: 1px solid #CCC;
  padding: 5px;
  height: auto;
  width: 400px;
}

.cuisine-img {
  @extend .text-center;
  height: 150px;
  width: 150px;
}
.contact-info {
  height: 400px;
  background-color: #ff751a;
  color: #FFF;
  padding: 40px 20px;
  table {
    width: 100%;
    tr {
      width: 100%;
      td {
        padding: 5px;
        font-size: 20px;
        width: 50%;
      }
    }
  }
}
.facilities {
  padding: 20px 0;
  background-color: #ff751a;
  color: #FFF;
  font-size: 1.8em;
  .row {
    padding: 10px;
  }
}

.text-description {
  text-align: justify;
  padding: 20px 0;
  font-size: 1.4em;
}
.contact-info-pink {
  @extend .contact-info;
  background-color: $pink;
}

.contact-info-brown {
  @extend .contact-info;
  background-color: $brown;
}
a.cuisine-tile {
  color:  #4C4C4C;
}
.on-hover-border {
  border: 1px solid #FFF;
  padding: 10px 0;
  &:hover, &:active {
    border: 1px dotted #4C4C4C;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    height: 500px;
    overflow: none;
  }
  #bhukaadCarousel {
    height: 500px;
    img {
      height: 500px;
    }
  }
  .carousel-cover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF;
    h1 {
      padding-top: 140px;
      font-size: 50px;
    }
  }
  .subtitle {
    font-size: 25px;
  }
  .contact-info {
    min-height: 450px;
  }
}

@media(min-width: 992px) {
  .more-spacing {
    margin: 10px 0;
  }
}
