- provide :title, "Search Results"
.container-fluid
  .row
    .col-md-offset-4.col-md-4.text-center
      h1 Search results
  .row
    .col-md-offset-2.col-md-8.text-center
      = form_tag '/search', method: :get do
        .input-group
          = text_field_tag :q, nil, class: "form-control bku-search-field"
          span.input-group-btn
            = submit_tag "Go", class: "btn btn-default"
  .row
    .col-md-offset-2.col-md-8
      - @results.each do |result|
        .container-fluid.search-result
          - r = result_classified(result)
          = link_to r[:path] do
            .row
              .col-md-12
                h2
                  = result.searchable_type
                  |:
                  span.text-success = r[:object].name
            .row
              .col-md-12.text-center
                = truncate(raw(result.content).strip, length: 100)
    
