.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li.active role="presentation" 
          = link_to "Menu", admin_menu_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "View all menus"
        li role="presentation" 
          = link_to "Add New", new_admin_menu_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new menu"
      /! Tab panes
      .tab-content
        h2 Menus
        table.table
          tr
            th Name
            th Visible
            th Restaurant
            th Actions
          - @menus.each do |menu|
            tr
              td = menu.name
              td = menu.visible
              td = menu.shop_name
              td 
                => link_to "remove", admin_menu_dashboard_path(menu.id),
                method: :delete, class: "btn btn-xs btn-danger",
                data: { confirm: "Are you sure to delete the menu"}
                = link_to "Edit", edit_admin_menu_dashboard_path(menu.id),
                class: "btn btn-primary btn-xs"
