.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li role="presentation" 
          = link_to "Menu", admin_menu_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "View all menus"
        li.active role="presentation" 
          = link_to "Add New", new_admin_menu_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new menu"
      /! Tab panes
      .tab-content
        h2 Add new Menu Item
        = form_for @menu, url: admin_menu_dashboard_index_path, method: :post do |f|
          .form-group
            = f.label :name
            = f.text_field :name, class: "form-control"
          .form-group
            = f.label :shop_id, "Resturant"
            = f.select :shop_id, @shops.collect { |r| [r.name, r.id]}, {},  { class: "form-control"}
          = f.submit "Create Menu", class: "btn btn-primary"
