ul.nav.nav-pills.nav-stacked
  li role="presentation" class="#{'active' if params[:controller] == 'admin/shop_dashboard'}"
    = link_to "Shop", admin_root_path,
    data: { toggle: "tooltip", placement: "top"}, title: "Manage shops"
  / li role="presentation" class="#{'active' if params[:controller] == 'admin/menu_dashboard'}"
  /   = link_to "Menu", admin_menu_dashboard_index_path,
    data: { toggle: "tooltip", placement: "right"}, title: "Manage menus in different resturnats"
  li role="presentation" class="#{'active' if params[:controller] == 'admin/category_dashboard'}"
    = link_to "Category", admin_category_dashboard_index_path,
    data: { toggle: "tooltip", placement: "right"}, title: "Manage categories in different menus"
  li role="presentation" class="#{'active' if params[:controller] == 'admin/cuisine_dashboard'}"
    = link_to "Cuisine/Item", admin_cuisine_dashboard_index_path,
    data: { toggle: "tooltip", placement: "top"}, title: "Manage shops"
