- provide :title, @cuisine.name
- content_for :fb_meta do
    meta property="og:url"           content=request.original_url
  	meta property="og:type"          content="website"
  	meta property="og:title"         content="#{@cuisine.name} | Bhukaad"
    - unless @cuisine.description.strip.blank?
  	 meta property="og:description"   content=strip_tags(@cuisine.description)
  	meta property="og:image"         content=@cuisine.photos.first.image_url(:thumb)

.container-fluid
  header.row
    .col-md-12.text-center
      h1 = @cuisine.name
      p style="font-size: 20px;"
        ' @
        = shop_link(@cuisine)
  .row
    .col-md-12.text-center
      = vegetarian(@cuisine)
  .separator-low
  .row
    .col-md-offset-2.col-md-8.text-center
      - @cuisine.photos.each do |photo|
        = image_tag photo.image_url, class: 'bordered-image-medium'
  .row
    .col-md-offset-2.col-md-4.text-left
      = rating_for @cuisine, "overall", half_show: true
    .col-md-4.text-right
      br
      .fb-like data-action="like" data-href=request.original_url data-layout="standard" data-share="true" data-show-faces="true"
  .row
    .col-md-offset-2.col-md-8.text-justify
      h2 About
      br
      - unless @cuisine.description.strip.blank?
        = raw(@cuisine.description)
  - unless @cuisine.ingredient.blank?
    .row
      .col-md-offset-2.col-md-8.text-justify
        h2 Ingredients
        br
          = @cuisine.ingredient.html_safe 
  .row
    .col-md-offset-2.col-md-8
      - if user_signed_in?
        = form_for Comment.new do |f|
          .form-group
            = f.label :comment
            = f.text_area :body, class: "form-control", cols: "5", rows: "5"
          = f.hidden_field :commentable_id, value: @cuisine.id
          = f.hidden_field :commentable_type, value: "Cuisine"
          = f.submit "Comment", class: "btn btn-success pull-right"
      - else
        h3.text-center.text-success Sign in to post comments
  .row
    .col-md-offset-2.col-md-8
      - if @comments.any?
        h3 Comments
        - @comments.each do |comment|
          .comment.clearfix
            span.rate
              = user_rating_cuisine(comment, @cuisine)
            =>           
            = sanitize(comment.body)
            .comment-user
              .pull-right = comment.user.username
  .row
    .col-md-offset-2.col-md-8.text-center
      = will_paginate @comments

    
  coffee:
    $(".carousel-inner .item:first-child").addClass("active")
    $(".carousel").carousel()
