.container-fluid
  .col-md-offset-1.col-md-10
    == render "super_admin/menu"
    h2 Cities
    table.table
      tr
        th City
        th Subtitle
        th Actions
      - @cities.each do |city|
        tr
          td = city.name
          td = city.subtitle
          td
            => link_to "Edit", edit_super_admin_city_dashboard_path(city), class: "btn btn-primary btn-xs"
            => link_to "Show", super_admin_city_dashboard_path(city), class: "btn btn-primary btn-xs"
  .col-md-offset-1.col-md-10
    => link_to "New", new_super_admin_city_dashboard_path, class: "btn btn-success"
          
