.container-fluid
  .col-md-offset-1.col-md-10
    == render "super_admin/menu"
    .tab-content
      h2 New City
      
      = form_for @city , url: super_admin_city_dashboard_index_path, method: :post do |f|
        - if @city.errors
          ul.errors
            - @city.errors.full_messages.each do |error|
              li = error
        .form-group
          = f.label :name
          = f.text_field :name, class: "form-control", required: true
        .form-group
          = f.label :subtitle
          = f.text_field :subtitle, class: "form-control", required: true
        .form-group
          = f.label :description
          = f.text_area :description, class: "form-control", required: true
        = f.submit "Save", class: "btn btn-primary"
    
