.container-fluid
  .col-md-offset-1.col-md-10
    == render "super_admin/menu"
  .col-md-offset-1.col-md-10
    h1 = @city.name
  .col-md-offset-1.col-md-10
    h2 = @city.subtitle
  .col-md-offset-1.col-md-10
    h2 description
    br
    = @city.description
  .col-md-offset-1.col-md-10
    br
    => link_to "Back", super_admin_city_dashboard_index_path
    => link_to "Edit", edit_super_admin_city_dashboard_path(@city)
    
  
  
    
    
    
