.container-fluid
  .col-md-offset-1.col-md-10
    == render "super_admin/menu"
    h2 Shops
    table.table
      tr
        th City
        th Restaurant
        th Open
        th Approved
        th Plan
        th Action
      - @shops.each do |shop|
        tr
          td = shop.city.name
          td = shop.name
          td = shop.open
          td = shop.approved
          td
            - if shop.shop_plan.eql?("free")
              = select_tag "plan", raw("<option selected='selected'>Free</option><option>Standard</option>"), class: 'form-control plan-selector'
            - else
              = select_tag "plan", raw("<option>Free</option><option selected='selected'>Standard</option>"), class: 'form-control plan-selector'
            .hidden = shop.id
          td
            - if shop.approved
              => link_to "Disapprove", super_admin_shop_dashboard_index_path(approve:false, shop_id: shop.id),
              class: "btn btn-danger btn-xs", method: :post
            - else
              => link_to "Approve", super_admin_shop_dashboard_index_path(approve:true, shop_id: shop.id),
              class: "btn btn-success btn-xs", method: :post
            = link_to "Show", super_admin_shop_dashboard_path(shop), class: "btn btn-primary btn-xs"
          td.wait
            .spinner = icon("spinner fa-spin")
                
          
coffee:
  $(".wait").hide()
  $(document).on 'change', '.plan-selector', () ->
    $.ajax {
        url: '/super_admin/shop_dashboard/update_plan',
        method: 'patch',
        data: { plan: $(this).val(), id: $(this).siblings().text().trim() }
    }
    .done (data) ->
      if data["success"] == true
        alert("updated")
