.container-fluid
  .row
    .col-md-offset-1.col-md-10
      == render "super_admin/menu"
    .col-md-offset-1.col-md-3
      h1 = @shop.name
    .col-md-3 
      h2 = @shop.subtitle
    .col-md-3 
      h2 = @shop.shop_type
    .col-md-offset-1.col-md-10
      h2 description
      br
      = @shop.description
    .col-md-offset-1.col-md-10
      h2 Working hours
      p.text-17
        => @shop.start_time
        ' --
        => @shop.close_time
  .row
    .col-md-offset-1.col-md-4
      h2 Mobile
      = @shop.contact_info.mobile
    .col-md-4
      h2 Address
      .address.text-17
        = @shop.contact_info.address_line1
        - if @shop.contact_info.address_line2.present?
          br
          = @shop.contact_info.address_line2
        br
        = @shop.contact_info.landmark
        br
        = @shop.contact_info.state
        br
        = @shop.contact_info.country
        br
        = @shop.contact_info.pin
  .row
    .col-md-offset-1.col.md-10
      => link_to "Back", super_admin_shop_dashboard_index_path, class: "btn btn-primary"
