= stylesheet_link_tag("time_select")
.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li role="presentation" 
          = link_to "General", admin_root_path,
          data: { toggle: "tooltip", placement: "top"}, title: "General overview of all shops"
        li.active role="presentation" 
          = link_to "Settings", settings_admin_shop_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Change settings of your shops"
        li role="presentation" 
          = link_to "Add Shop", new_admin_shop_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new shop"
        li role="presentation" 
          = link_to "New Images", new_admin_shop_photo_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new images"
      /! Tab panes
      .tab-content
        #settings.tab-pane.active role="tabpanel"
          h2 Settings
          .shop-tabs
          #accordion.panel-group aria-multiselectable="true" role="tablist" 
            - @shops.each do |res|
              .panel.panel-primary
                #headingOne.panel-heading role="tab" 
                  h4.panel-title
                    a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne#{res.id}" role="button" 
                      = res.name
                .panel-collapse.collapse.in aria-labelledby="headingOne" role="tabpanel" id="collapseOne#{res.id}"
                  .panel-body
                    = form_for res, url: admin_shop_dashboard_path(res) do |f|
                      .container-fluid
                        .checkbox
                          label
                            => f.check_box :open
                            | Open
                        .row
                          .form-group.col-md-4
                            = f.label :city_id, "City"
                            = f.select :city_id, City.all.collect {|c| [ c.name, c.id ] }, 
                              { include_blank: false }, class: "form-control"
                          .form-group.col-md-4
                            = f.label :name
                            = f.text_field :name, class: "form-control", required: true
                          .form-group.col-md-4
                            = f.label :shop_type
                            = f.select :shop_type, SHOP_TYPES, {}, { class: "form-control", required: true }
                        .row
                          .form-group.col-md-6
                            = f.label :slug, "URL Slug"
                            = f.text_field :slug, class: "form-control"
                          .form-group.col-md-6
                            = f.label :subtitle, "Tag Line"
                            = f.text_field :subtitle, class: "form-control", required: true
                        .row
                          .form-goup.col-md-12
                            = f.label :description, "Description of your Restaurant"
                            = f.bootsy_area :description, class: "form-control", required: true,
                              editor_options: { image: false }, rows: "20"
                        .row
                          .form-group.col-md-6
                            = f.label :start_time
                            .input-group.bootstrap-timepicker.timpeicker
                              = f.text_field :start_time,  class: "form-control time", required: true, readonly: true
                              span.input-group-addon
                                = icon("clock-o")
                          .form-group.col-md-6
                            = f.label :close_time
                            .input-group.bootstrap-timepicker.timpeicker
                              = f.text_field :close_time,  class: "form-control time", required: true, readonly: true
                              span.input-group-addon
                                = icon("clock-o")
                        = f.fields_for :contact_info do |ci|
                          .row
                            .form-group.col-md-12
                              = ci.label :mobile
                              = ci.text_field :mobile, class: "form-control", required: true,
                              pattern: "^[789]\\d{9}$"
                          .row
                            .form-group.col-md-6
                              = ci.label :address_line1, "Address Line 1"
                              = ci.text_field :address_line1, class: "form-control", required: true
                            .form-group.col-md-6
                              = ci.label :address_line2, "Address Line 2"
                              = ci.text_field :address_line2, class: "form-control"
                          .row
                            .form-group.col-md-6
                              = ci.label :landmark
                              = ci.text_field :landmark, class: "form-control", required: true
                            .form-group.col-md-6
                              = ci.label :country
                              = ci.text_field :country, class: "form-control", required: true
                          .row
                            .form-group.col-md-6
                              = ci.label :state
                              = ci.text_field :state, class: "form-control", required: true
                            .form-group.col-md-6
                              = ci.label :pin
                              = ci.text_field :pin, class: "form-control", required: true
                          .row
                            .form-group.col-md-6
                              = ci.label :lat, "Latitude"
                              = ci.text_field :lat, class: "form-control", required: true
                            .form-group.col-md-6
                              = ci.label :lng, "Longitude"
                              = ci.text_field :lng, class: "form-control", required: true
                        - if res.non_free_shop?
                          .row
                            .form-group.col-md-3
                              .check_box
                                label
                                => f.check_box :music
                                | Music
                            .form-group.col-md-3
                              .check_box
                                label
                                => f.check_box :parking
                                | Parking
                            .form-group.col-md-3
                              .check_box
                                label
                                => f.check_box :security
                                | Security
                            .form-group.col-md-3
                              .check_box
                                label
                                => f.check_box :air_conditioner
                                | Air Conditioner
                          .row
                            .form-group.col-md-3
                              .check_box
                                label
                                => f.check_box :wifi
                                | WIFI
                            .form-group.col-md-3
                              .check_box
                                label
                                => f.check_box :parties
                                | Parties
                            .form-group.col-md-3
                              .check_box
                                label
                                => f.check_box :dating
                                | Dating
                          .row
                            .form-group.col-md-6
                              = f.label :payment, "Modes of Payment"
                              = f.text_field :payment, class: "form-control", required:  true
                            .form-group.col-md-6
                              = f.label :noise, "Ambience"
                              = f.select  :noise, %w(Calm Medium Party), {}, { class: "form-control", required: true }
                        .row
                          = f.fields_for :photos do |photo_form|
                            .form-group.col-md-4.text-center
                              = image_tag photo_form.object.image_url(:thumb)
                              br
                              .check_box
                                label
                                => photo_form.check_box :_destroy
                                | Destroy
                        
                      = f.submit "Save", class: "btn btn-danger"
coffee:
  $('.collapse').collapse()
  $(".time").timepicker()
