.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li.active role="presentation" 
          = link_to "General", admin_root_path,
          data: { toggle: "tooltip", placement: "top"}, title: "General overview of all shops"
        li role="presentation" 
          = link_to "Settings", settings_admin_shop_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Change settings of your shops"
        li role="presentation" 
          = link_to "Add Shop", new_admin_shop_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Change settings of your shops"
        li role="presentation" 
          = link_to "New Images", new_admin_shop_photo_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new images"
      /! Tab panes
      .tab-content
        #general.tab-pane.active role="tabpanel"
          h2 Overview
          table.table.text-center
            tr
              th.text-center Shop
              th.text-center Type
              th.text-center Approved
              th.text-center Open
              th.text-center Menu Count
              th.text-center Category Count
              th.text-center Cuisine Count
            - @shops.each do |shop|
              tr
                td = shop.name
                td = shop.shop_type
                - a = shop.approved
                - if a
                  td.success = icon("check")
                - else
                  td.danger = icon("times")
                - o = shop.open
                - if o
                  td.success = icon("check")
                - else
                  td.warning = icon("times")
                td = shop.menus.count
                td = shop.menus.collect { |d| d.categories.count }.inject(0) { |sum, i| sum + i}
                td = shop.cuisines_count
