.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li role="presentation" 
          = link_to "General", admin_root_path,
          data: { toggle: "tooltip", placement: "top"}, title: "General overview of all shops"
        li role="presentation" 
          = link_to "Settings", settings_admin_shop_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Change settings of your shops"
        li role="presentation" 
          = link_to "Add Restaurant", new_admin_shop_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new shop"
        li.active role="presentation" 
          = link_to "New Images", new_admin_shop_photo_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new images"
      .tab-content
        h2 Add Images
        
        = form_for @photo, url: admin_shop_photo_dashboard_index_path, method: :psot, html: { multipart: true } do |f|
          .form-group
            = f.label :imageable_id, "Shop"
            = f.select :imageable_id, @shops.collect { |r| [r.name, r.id] }, {}, { class: "form-control" }
          .form-group
            = f.label :image
            = f.file_field :image, class: "form-control"
            = f.hidden_field :imageable_type, value: "Shop"
          = f.submit "Save", class: "btn btn-primary"
