#bhukaadCarousel.carousel.slide data-ride="carousel" 
  /! Indicators
  ol.carousel-indicators
    - @shop.photos.count.times do |time|
      li.active data-slide-to=time data-target="#bhukaadCarousel"
  /! Wrapper for slides
  .carousel-inner role="listbox" 
    - @shop.photos.each do |photo|
      .item
        = image_tag photo.image_url(:carousel), alt: "carousel-image"
  /! Left and right controls
  a.left.carousel-control data-slide="prev" href="#bhukaadCarousel" role="button" 
    span.glyphicon.glyphicon-chevron-left aria-hidden="true" 
    span.sr-only Previous
  a.right.carousel-control data-slide="next" href="#bhukaadCarousel" role="button" 
    span.glyphicon.glyphicon-chevron-right aria-hidden="true" 
    span.sr-only Next
  
coffee:
  $(".carousel-inner .item:first-child").addClass("active")
  $(".carousel").carousel()
  
