- provide :title, @shop.name
.section
  .carousel-container
    .carousel-cover
      h1 = @shop.name
      .line
      p.subtitle = @shop.subtitle
      p.shop-mobile
        => icon("mobile")
        = @shop.contact_info.mobile
      .shop_open
        #open-time.hidden = @shop.start_time
        #close-time.hidden = @shop.close_time
        .shop-status
    #bhukaadCarousel.carousel.slide data-ride="carousel"
      /! Indicators
      ol.carousel-indicators
        - @shop.photos.count.times do |time|
          li.active data-slide-to=time data-target="#bhukaadCarousel"
      /! Wrapper for slides
      .carousel-inner role="listbox"
        - @shop.photos.each do |photo|
          .item
            = image_tag photo.image_url(:large), alt: "carousel-image"
      /! Left and right controls
      a.left.carousel-control data-slide="prev" href="#bhukaadCarousel" role="button"
      a.right.carousel-control data-slide="next" href="#bhukaadCarousel" role="button"
- cat_count = @categories.count
- if cat_count > 0
  .section
    .category-heading
      h2.text-center Food We Serve
    - max_col = 12 / cat_count
    - col_count = max_col < 4 ? 4 : max_col
    .container-fluid
      .row
        - @categories.each do |category|
          div class="text-center col-md-#{col_count}"
            - photo = ((category.photo && category.photo.image_url(:bigger_thumb)) ? category.photo.image_url(:bigger_thumb) : "plate.png" )
            = image_tag photo,
            alt: "category photo", size: "150x150", class: "bordered-image"
            .category-name
              h3 = category.name
            .category-description
              = category.description
.section.clearfix
  .container-fluid
    .row
      .col-md-6.contact-info-brown.text-center
        h2 Info
        table
          tr
            td.text-right
              b Working hours
            td.text-left
              => @shop.start_time
              ' --
              => @shop.close_time
          tr
            td.text-right
              b Address
            td.text-left = @shop.contact_info.address_line1
          - if @shop.contact_info.address_line2.present?
            tr
              td
              td.text-left = @shop.contact_info.address_line2
          tr
            td
            td.text-left = @shop.contact_info.state
          tr
            td
            td.text-left = @shop.contact_info.country
          tr
            td
            td.text-left = @shop.contact_info.pin
          tr
            td.text-right
              b Landmark
            td.text-left = @shop.contact_info.landmark
      .col-md-6#mapid
        #lat.hidden = @shop.contact_info.lat
        #lng.hidden = @shop.contact_info.lng
- if @cuisines.present? && @cuisines.count > 0
  .section
    h2.text-center Our Delicious Menu
    .container-fluid
      - @cuisines.in_groups_of(3, false).each do |group|
        .row.more-spacing
          - group.each do |cuisine|
            = link_to confectionery_item_show_path(@shop.city, @shop, cuisine), class: "cuisine-tile" do
              .col-md-4.text-center.on-hover-border
                - thumb_image = (cuisine.photos.any? && File.exists?("#{Rails.root}/public/#{cuisine.photos.first.image_url(:bigger_thumb)}") ? cuisine.photos.first.image_url(:bigger_thumb) : "plate.png")
                = image_tag thumb_image,
                alt: "cuisine photo", size: "150x150", class: "bordered-image"
                h4.text-success
                  => vegetarian(cuisine)
                  = cuisine.name
                .price
                  => icon("inr")
                  = sprintf("%0.2f", cuisine.price)
                .description
                  = truncate(strip_tags(cuisine.description), length: 100)

coffee:
  start_time = $("#open-time").html().trim()
  close_time = $("#close-time").html().trim()
  start_time_array = start_time.match(/(\d+)(?::(\d\d))?\s*(P?)/)
  close_time_array = close_time.match(/(\d+)(?::(\d\d))?\s*(P?)/)

  js_start_time = new Date()
  if start_time_array[3] == "P"
    start_time_array[1]  = start_time_array[1] + 12
  js_start_time.setHours(start_time_array[1])
  js_start_time.setMinutes(start_time_array[2])
  js_start_time.setSeconds(0, 0)

  js_close_time = new Date()
  if close_time_array[3] == "P"
    close_time_array[1]  = close_time_array[1] + 12
  js_close_time.setHours(close_time_array[1])
  js_close_time.setMinutes(close_time_array[2])
  js_close_time.setSeconds(0, 0)

  if (js_start_time.getTime() < Date.now()) && (js_close_time.getTime() > Date.now())
    $(".shop-status").css("background-color", "#009933")
    $(".shop-status").css("color", "#FFF")
    $(".shop-status").html("OPEN")
  else
    $(".shop-status").css("background-color", "#FF0000")
    $(".shop-status").css("color", "#FFF")
    $(".shop-status").html("CLOSED")
