- provide :title, "Restaurants"
.container-fluid
  .row
    .col-md-offset-4.col-md-4.text-center
      h1 Restaurants
  .row
    .col-md-offset-2.col-md-8
      = form_tag '/restaurants', method: :get do
        .container-fluid
          .row
            .col-md-9
                = text_field_tag :search, params[:search], class: "form-control",
                placeholder: "Search Restaurants.."
            .col-md-2
                = select_tag :city, options_for_select(City.joins(:shops).distinct.collect { |city| [city.name, city.slug]}),
                class: "form-control", prompt: "Select city"
            .col-md-1
              span.input-group-btn
                = submit_tag "Go", class: "btn btn-default"
  .separator-md-medium
  .row
    - @shops.each do |shop|
      .col-md-offset-2.col-md-8
        = link_to restaurant_show_path(city_slug: shop.city, shop_slug: shop.slug) do
          .long-tile.container-fluid
            .row
              .col-md-6
                h2 = shop.name
              .col-md-6
                p.subtitle = shop.subtitle
