.container-fluid
  .row
    .col-md-offset-2.col-md-8.text-center
      h1 About us
  .row
    .col-md-offset-2.col-md-8.text-center
      | We are really passionate people we love food and want people to have the best food available. Our mission is to bring the food bazar to your pocket.
  .row
    .col-md-offset-2.col-md-8.text-center
      h2  Our Team
      .text-center Comming Soon..
