.container-fluid
  .row
    .col-md-offset-2.col-md-8.text-center
      h1 Contact
  .row
    .col-md-offset-2.col-md-8.text-center
      ' Please drop us an email at
      = link_to "support@bhukaad.com", "mailto:support@bhukaad.com"
