.container-fluid
  .row
    .col-sm-12.col-md-8.col-md-offset-2
      header.text-center.main-header
        h1 Feeling Hungry ?
        p Find a restaurant or cafe to refuel yourself.
        .container-fluid
          .row
            .col-xs-12
              = form_tag '/search', method: :get do
                .input-group
                  = text_field_tag :q, nil, class: "form-control bku-search-field"
                  span.input-group-btn
                    = submit_tag "Go", class: "btn btn-default"
  .separator-md-medium
  .row
    .col-sm-12.col-md-8.col-md-offset-2
      .container-fluid
        .row
          .col-xs-12.col-sm-4
            .tile
              .overlay
                = link_to "Restaurants", restaurants_path
              .bak-tile.restaurant-tile
          .col-xs-12.col-sm-4
            .tile
              .overlay 
                = link_to "Cafes", cafes_path
              .bak-tile.cafe-tile
          .col-xs-12.col-sm-4
            .tile
              .overlay 
                = link_to "Confectioneries", confectioneries_path
              .bak-tile.confectionery-tile
#cityModal.modal.fade.bs-example-modal-sm aria-labelledby="mySmallModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
        h4#myModalLabel.modal-title Select your City
      .modal-body
        = select_tag :city, options_from_collection_for_select(@cities, "slug", "name"), include_blank: true, class: "form-control"
coffee:
  $("#cityModal").modal()
  $("#city").on 'change', () ->
    city_name = $(this).val()
    window.location.href = "/" + city_name
    
