.container-fluid
  .row
    .col-md-offset-2.col-md-8
      h2 Forgot your password ?

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!

        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
          
        .form-group
          - if Rails.env.eql?('production')
            br
            = recaptcha_tags

        .form-group
          = f.submit "Send me reset password instruction", class: 'btn btn-primary'

      = render "users/shared/links"
