.bku-search-field {
  border-radius: 0;
  &:focus {
  	border: 1px solid #CC0000;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  }
}
.form-control {
  border-radius: 0;
  border: 1px solid #FF9999;
  &:focus {
    border: 1px solid #CC0000;
    -webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  }
}

.input-group-btn {
    .btn {
  	color: #CC0000;
  	border-radius: 0px;
    border: 1px solid #FF9999;
  	&:hover {
  	    color: #FFFFFF;
  	    background-color: #CC0000;
  	    border: 1px solid #CC0000;
  	}
      }
}
