$dull-redish:  #CC0000;
$white:  #FFFFFF;
$maroon: #800000;

.navbar-bhukaad {
  background-color: $dull-redish;
  border-radius: 0;
  a {
    color: $white;
    font-family: 'Lobster', cursive;
  }
  ul.navbar-nav {
    li:hover {
      background-color: $maroon;
      a:hover, a:active {
        background-color: $maroon;
      }
    }
  }
  button.navbar-toggle {
    border: 1px solid #white;
    .icon-bar {
      background-color: $white;
    }
  }
  ul.dropdown-menu {
    li {
      a:hover {
        color: #FFF;
      }
    }
  }
}


.navbar-black {
  margin-bottom: 0;
  border-radius: 0;
}
