.separator-low {
    margin: 5px;
}
.separator-medium {
    margin-top: 10px;
    margin-bottom: 10px;
}
.separator-high {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (min-width: 769px) {
    .separator-md-medium {
	     padding: 20px;
    }
}
