.tile {
   box-shadow: 2px 2px 2px #CCCCCC;
   text-align: center;
   border: 1px solid #FFFFFF;
   &:hover {
     border: 1px solid #4C4C4C;
     box-shadow: 2px 2px 2px #CCC;
   }
   a {
     font-size: 22px;
     color: #CC0000;
     padding: 10% 0;
     display: block;
     width: 100%;
     &:hover {
	      text-decoration: none;
     }
   }
}

@media screen and  (max-width: 768px) {
  .tile {
  	a {
  	    padding: 5%;
  	}
  }
}
@media (min-width: 769px) {
  .tile {
    position: relative;
    height: 250px;
  }
  .overlay, .bak-tile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .restaurant-tile {
    background-image: image_url("restaurant.png");
  }
  .cafe-tile {
    background-image: image_url("cafes.png");
  }
  .confectionery-tile {
    background-image: image_url("confectionery.png");
  }
  .overlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    a {
      font-size: 25px;
      line-height: 190px;
      color: #FFF;
    }
    &:hover {
      text-shadow: 2px 2px 16px #8C8C8C;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
