.vegetarian, .nonveg {
  width: 20px;
  font-size: 16px;
  display: inline-block;
  line-height: 19px;
  height: 22px;
}
.nonveg {
  color: #ff0000;
  border: 2px solid #FF0000;
}

.vegetarian {
  color: #006600;
  border: 2px solid #006600;
}
