.container-fluid
  .row
    .col-sm-12.col-md-8.col-md-offset-2
      header.text-center.main-header
        h1 Cities
        p We are found in major cities...
        .cities-container     
          - @cities.each do |city|
            .container-fluid.long-tiles
              = link_to city_show_path(city) do
                .row.city-header
                  .col-md-4.city-name
                    = city.name
                  .col-md-8.city-subtitle
                    = city.subtitle
                
