.container
  .row
    header.col-md-12.text-center
      h1 = @city.name
      p = @city.subtitle
  .row
    .col-md-offset-1.col-md-10
      = @city.description
  .row
    .col-md-offset-1.col-md-10
      .separator-md-medium
      .container-fluid
        .row
          .col-xs-12.col-sm-4
            .tile
              .overlay
                = link_to "Restaurants", cities_restaurants_index_path(@city), title: "Restaurants at #{@city.name}"
              .bak-tile.restaurant-tile
          .col-xs-12.col-sm-4
            .tile
              .overlay 
                = link_to "Confectioneries", cities_confectioneries_index_path(@city), title: "Confectioneries at #{@city.name}"
              .bak-tile.cafe-tile
          .col-xs-12.col-sm-4
            .tile
              .overlay 
                = link_to "Cafes", cities_cafes_index_path(@city), title: "Cafes at #{@city.name}"
              .bak-tile.confectionery-tile
