.container-fluid
  .row
    .col-md-offset-1.col-md-10.text-center
      - flash.each do |k, v|
        .alert.alert-dismissible class="alert-#{k}" role="alert" 
          button.close aria-label="Close" data-dismiss="alert" type="button" 
            span aria-hidden="true"  &times;
          = v
