footer.text-center
  .container-fluid
    .row
      .col-md-offset-5.col-md-2
        p &copy; Bhukaad.com 2016
      .col-sm-6
        ul
          li
            = link_to "Cities", cities_path
          li
            = link_to "Restaurants", restaurants_path
          - if admin_signed_in?
            li
              = link_to icon("tablet"), new_admin_session_path
          - else
            li
              = link_to icon("lock"), new_admin_session_path
      .col-sm-6
        ul
          li
            a href="https://www.facebook.com/Bhukaad-1296743630342663/" title="facebook" target="_blank"
              = font_awesome("fa-facebook-square fa-lg")
          li
            a href="https://twitter.com/bhukaad" title="twitter" target="_blank"
              = font_awesome("fa-twitter-square fa-lg")
          li
            a href="https://plus.google.com/104314201523473010783" title="google+" target="_blank"
              = font_awesome("fa-google-plus-square fa-lg")
