nav.navbar.navbar-bhukaad
  .container-fluid
    /! Brand and toggle get grouped for better mobile display
    .row
      .col-md-offset-2.col-md-8
        .navbar-header
          button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to "Bhukaad", root_path, class: "navbar-brand", title: "Home"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a href="javascript:void(0)" id="navbar-search-icon"
                = icon("search")
          #navbar-search-form
            = form_tag "/search", class: "navbar-form navbar-left", method: :get
              .input-group
                = text_field_tag :q, nil, placeholder: "Restaurant, Cafe, Cuisines etc..",
                class: "form-control bku-search-field"
                span.input-group-btn
                  = submit_tag "Go", class: "btn btn-default"
          ul.nav.navbar-nav.navbar-right
            - if @city
              li.dropdown
                a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
                  => @city.name
                  span.caret
                ul.dropdown-menu
                  li
                    = link_to "Cities", cities_path
            li
              = link_to "Contact", contact_path
            li
              = link_to "About", about_path
            - if admin_signed_in?
              li = link_to "Sign out", destroy_admin_session_path, method: :delete
            - elsif user_signed_in?
              li.dropdown
                a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
                  => current_user.username
                  span.caret
                ul.dropdown-menu
                  li
                    = link_to "Logout", destroy_user_session_path, method: :delete
                  li
                    = link_to "Change password", edit_user_registration_path
            - else
              li
                = link_to "Sign in", new_user_session_path
              li
                = link_to "Sign up", new_user_registration_path
