.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li.active role="presentation" 
          = link_to "Categories", admin_menu_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "View all Categories"
        li role="presentation" 
          = link_to "Add Categories", new_admin_category_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new categories"
      /! Tab panes
      .tab-content
        h2 Categories
        table.table
          tr
            th Name
            th Show on shop page
            th Restaurant
            th Photo
            th Actions
          - @categories.each do |cat|
            tr
              td = cat.name
              td = cat.show_on_shop_page ? icon("check") : icon("times")
              td = cat.menu.shop.name
              td
                - if cat.photo
                  = image_tag cat.photo.image_url(:thumb), size: "50x50"
              td
                => link_to "Destroy", admin_category_dashboard_path(cat.id),
                method: :delete, class: "btn btn-danger btn-xs",
                data: { confirm: "Are you sure ?" }
                = link_to "Edit", edit_admin_category_dashboard_path(cat.id),
                class: "btn btn-primary btn-xs"
                

        
