.container-fluid
  .row
    .col-md-12
      h1 Dashboard
  .row
    .col-md-2
      == render "admin/dashboard_menu"
    .col-md-10
      /! Nav tabs
      ul.nav.nav-tabs role="tablist" 
        li role="presentation" 
          = link_to "Categories", admin_category_dashboard_index_path,
          data: { toggle: "tooltip", placement: "top"}, title: "View all Categories"
        li.active role="presentation" 
          = link_to "Add Categories", new_admin_category_dashboard_path,
          data: { toggle: "tooltip", placement: "top"}, title: "Add new category"
      /! Tab panes
      .tab-content
        h2 Add Category
        
        = form_for @category, url: admin_category_dashboard_index_path, method: :post, html: { multipart: true } do |f|
          .form-group
            = f.label :name
            = f.text_field :name, class: "form-control"
          .form-group
            = f.label :description
            = f.text_area :description, class: "form-control"
          .checkbox
            label
              = f.check_box :show_on_shop_page
              | Show This on Shop Page
          .form-group
            = f.label :shop_id, "Shop"
            = f.select :shop_id, @shops.collect { |shop| [shop.name, shop.id] }, {}, { class: "form-control" }
          = f.fields_for :photo do |photo|
            .form-group
              = photo.label :image
              = photo.file_field :image, class: "form-control"
          = f.submit "Create", class: "btn btn-primary"
