doctype html
html lang="en"
  head
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    meta name="description" content="A place where you can find restaurants, cafes and confectioneries around the world. You can also make your shop online in matter of clicks"
    meta name="keywords" content="Food, Refuel, Find, Cafes, Restauants, Confectioneries"
    title = title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag "bhukaad_ico.png"
    link href="https://plus.google.com/104314201523473010783" rel="publisher"
    - if content_for? :map_assets
      = yield :map_assets
    - if content_for? :fb_meta
      = yield :fb_meta
    = csrf_meta_tags
    - if Rails.env.eql?("production")
      javascript:
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76494452-1', 'auto');
        ga('send', 'pageview');
  body
    #fb-root
    coffee:
      ((d, s, id) ->
        js = undefined
        fjs = d.getElementsByTagName(s)[0]
        if d.getElementById(id)
          return
        js = d.createElement(s)
        js.id = id
        js.src = '//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1052336938191445'
        fjs.parentNode.insertBefore js, fjs
        return
      ) document, 'script', 'facebook-jssdk'
    = render "layouts/components/navbar"
    = render "layouts/components/flash"
    = yield
    = render "layouts/components/footer"
