doctype html
html lang="en"
  head
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title = title(yield(:title))
    meta name="description" content=@shop.description
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"
    = javascript_include_tag "map"
    = favicon_link_tag "bhukaad_ico.png"
    = csrf_meta_tags
    - if Rails.env.eql?("production")
      javascript:
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76494452-1', 'auto');
        ga('send', 'pageview');
  body data-no-turbolink="true"
    = render "layouts/components/navbar_shop"
    = yield
    = render "layouts/components/footer"
