.container-fluid
  .row
    .col-md-offset-2.col-md-8
      h2
        | Edit 
        = resource_name.to_s.humanize

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        
        .form-group
          = f.label :username
          = f.text_field :username, autofocus: true, class: "form-control"
        
        .form-group
          = f.label :email
          = f.email_field :email, class: "form-control"

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .italics
            ' Currently waiting confirmation for: 
            = resource.unconfirmed_email

        .form-group
          = f.label :password 
          i leave blank if you don't want to change it
          = f.password_field :password, autocomplete: "off", class: "form-control"

        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

        .form-group
          = f.label :current_password
          i we need your current password to confirm your changes
          = f.password_field :current_password, autocomplete: "off", class: "form-control"

        .actions
          = f.submit "Update", class: "btn btn-primary"

      h3 Cancel my account

      p
        ' Unhappy?
        = button_to "Cancel my account", registration_path(resource_name),
          data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default"

      = link_to "Back", :back
