.container-fluid
  .row
    .col-md-offset-2.col-md-8
      h1 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!

        .field.form-group
          = f.label :username
          = f.text_field :username, autofocus: true, class: "form-control"

        .field.form-group
          = f.label :email
          br
          = f.email_field :email, class: "form-control"
        .field.form-group
          = f.label :password
            | Password
            br
            - if @minimum_password_length
              em
                | (
                = @minimum_password_length
                | characters minimum )
          br
          = f.password_field :password, autocomplete: "off", class: "form-control"
        .field.form-group
          = f.label :password_confirmation
          br
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          - if Rails.env.eql?('production')
            br
            = recaptcha_tags
        .actions
          = f.submit "Sign up", class: "btn btn-success"

      = render "users/shared/links"
